.button-Add {
    -fx-background-image: url("../Add-pass.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}
.button-Add:hover {
    -fx-background-image: url("../Add-pass.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}
.button-Add:focus-visible {
    -fx-background-image: url("../Add-pass.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}







.button-Delete {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Delete:hover {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-background-radius: 5px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Delete:focus-visible {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-background-radius: 5px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}






.button-Edit {
    -fx-background-image: url("../Edit.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-border-color: WHITE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Edit:hover {
    -fx-background-image: url("../Edit.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Edit:focus-visible {
    -fx-background-image: url("../Edit.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}





.button-ViewPass {
    -fx-background-image: url("../Opened-eye.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}
.button-HidePass {
    -fx-background-image: url("../Closed-eye.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}






.button-Cancel {
    -fx-background-color: transparent;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: RED;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: RED;
}
.button-Cancel:hover {
    -fx-background-color: #ff00002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: RED;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: RED;
}
.button-Cancel:focus-visible {
    -fx-background-color: #ff00002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: RED;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: RED;
    -fx-text-alignment: center 10px left;
}






.button-Save {
    -fx-background-image: url("../Finish-white.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: WHITE;
}
.button-Save:hover {
    -fx-background-image: url("../Finish-white.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: WHITE;
}
.button-Save:focus-visible {
    -fx-background-image: url("../Finish-white.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: WHITE;
}






.seachField { 
    -fx-background-image: url("../Magnifier.png");
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px; 
    -fx-text-fill: #8A59EE;
    -fx-highlight-fill: #8A59EE;
    -fx-prompt-text-fill: #8A8AEE;
    -fx-focus-color: #8A59EE;
    -fx-faint-focus-color: #8A59EE20;
    -fx-border-color: #8A8AEECC;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
} 



.button-Copy {
    -fx-background-image: url("../Copy.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 18px;
    -fx-border-color: WHITE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Copy:hover {
    -fx-background-image: url("../Copy.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 18px;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}