.button-PDF-white {
    -fx-background-image: url("../PDF-Icon-white.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-PDF-white:hover {
    -fx-background-image: url("../PDF-Icon-white.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-PDF-white:focus-visible {
    -fx-background-image: url("../PDF-Icon-white.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}


.button-PDF-black {
    -fx-background-image: url("../PDF-Icon-black.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-PDF-black:hover {
    -fx-background-image: url("../PDF-Icon-black.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-PDF-black:focus-visible {
    -fx-background-image: url("../PDF-Icon-black.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}







.button-GitHub-white {
    -fx-background-image: url("../github-mark-white.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}
.button-GitHub-white:hover {
    -fx-background-image: url("../github-mark-white.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
    -fx-background-radius: 15px;
}
.button-GitHub-black {
    -fx-background-image: url("../github-mark.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}
.button-GitHub-black:hover {
    -fx-background-image: url("../github-mark.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
    -fx-background-radius: 15px;
}






.button-Logout {
    -fx-background-image: url("../Logout.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: #8A59EE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Logout:hover {
    -fx-background-image: url("../Logout.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: #8A59EE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Logout:focus-visible {
    -fx-background-image: url("../Logout.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: #8A59EE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}






.button-Delete {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Delete:hover {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: rgb(0, 0, 0, 0.1);
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-background-radius: 5px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Delete:focus-visible {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-background-radius: 5px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}





.button-SaveChange {
    -fx-background-image: url("../Finish.png");
    -fx-background-color: transparent;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: #8A59EE;
}
.button-SaveChange:hover {
    -fx-background-image: url("../Finish.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: #8A59EE;
}
.button-SaveChange:focus-visible {
    -fx-background-image: url("../Finish.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: #8A59EE;
}





.button-DarkMode {
    -fx-background-image: url("../DarkMode.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100px;
}
.button-LightMode {
    -fx-background-image: url("../LightMode.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100px;
}






.button-Next {
    -fx-background-image: url("../Next-arrow.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45px;
    -fx-background-radius: 5px;
}
.button-Next:hover {
    -fx-background-image: url("../Next-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45px;
    -fx-background-radius: 5px;
}
.button-Next:focus-visible {
    -fx-background-image: url("../Next-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45px;
    -fx-background-radius: 5px;
}



.button-Prev {
    -fx-background-image: url("../Prev-arrow.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
}
.button-Prev:hover {
    -fx-background-image: url("../Prev-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
}
.button-Prev:focus-visible {
    -fx-background-image: url("../Prev-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
}






.button-Uninstall {
    -fx-background-image: url("../Delete.png");
    -fx-background-position: right 10px center;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: RED;
    -fx-border-radius:5px;
    -fx-border-width: 2px;
    -fx-text-alignment: left;
    -fx-text-fill: RED;
}
.button-Uninstall:hover {
    -fx-background-image: url("../Delete.png");
    -fx-background-position: right 10px center;
    -fx-background-color: #0000002a;
    -fx-background-radius: 5px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: RED;
    -fx-border-radius:5px;
    -fx-border-width: 2px;
    -fx-text-alignment: left;
    -fx-text-fill: RED;
}
.button-Uninstall:focus-visible {
    -fx-background-image: url("../Delete.png");
    -fx-background-position: right 10px center;
    -fx-background-color: #0000002a;
    -fx-background-radius: 5px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: RED;
    -fx-border-radius:5px;
    -fx-border-width: 2px;
    -fx-text-alignment: left;
    -fx-text-fill: RED;
}
.button-Uninstall:disabled {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-background-size: 35px;
    -fx-border-color: rgba(255, 0, 0, 0.5);
    -fx-border-radius:5px;
    -fx-border-width: 2px;
    -fx-text-alignment: left;
    -fx-text-fill: rgba(255, 0, 0, 0.5);
}






.button-ViewPass {
    -fx-background-image: url("../Opened-eye.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}
.button-HidePass {
    -fx-background-image: url("../Closed-eye.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}